.hero_background_gradient {
    background: transparent linear-gradient(90deg, #5B24EC 0%, #3423C9 100%) 0% 0% no-repeat padding-box;
} 

.team_bg {
    background: transparent linear-gradient(90deg, #5B24EC 0%, #3423C9 100%) 0% 0% no-repeat padding-box;
} 

.contact-btn {
    background: var(--yellow);
    background-size: 150% 150%;
    /* animation: Gradient 5s ease infinite;
    -moz-animation: Gradient 5s ease infinite; */

    position: sticky;
    top: 20px;
    z-index: 20;
}