.hero_background_gradient {
    background: transparent linear-gradient(90deg, #5B24EC 0%, #8A55FF 100%) 0% 0% no-repeat padding-box;
}


.background_process {
    background: transparent linear-gradient(180deg, #7542F5 0%, #E67EFF 100%) 0% 0% no-repeat padding-box;
}

.background_services {
    background: transparent linear-gradient(90deg, #5B24EC 0%, #8A55FF 100%) 0% 0% no-repeat padding-box;
}

.card_heading {
    background: transparent linear-gradient(269deg, #08DD8C 0%, #F157FF 100%) 0% 0% no-repeat padding-box;
}