.hero_background_gradient {
    background-color: #5B24EC;
}
.bg_section_datasets {
    background-color: #5B24EC;
}
.datasets-our-process-bg {
    background: linear-gradient(#7542F5  0%,  #E67EFF 100%) 0% 0% no-repeat padding-box;
    background-size: 150% 150%;
    animation: Gradient 5s ease infinite;
    -moz-animation: Gradient 5s ease infinite;
}



/* GRADIENTS */

div[data-card-number='1'] .card_heading {
    background:  transparent linear-gradient(269deg, #FC912A 0%, #F157FF 100%) 0% 0% no-repeat padding-box;;
    /* background-size: 200% 200%;
    animation: Gradient 5s ease infinite;
    -moz-animation: Gradient 5s ease infinite; */
}

div[data-card-number='2'] .card_heading  {
    /* background: transparent linear-gradient(269deg, #19D395 0%, #F157FF 100%) 0% 0% no-repeat padding-box; */
    background: transparent linear-gradient(269deg, #FC912A 0%, #F157FF 100%) 0% 0% no-repeat padding-box;

    /* background-size: 200% 200%; */
    /* animation: Gradient 5s ease infinite; */
    /* -moz-animation: Gradient 5s ease infinite; */
}

div[data-card-number='3'] .card_heading  {
    /* background: transparent linear-gradient(269deg, #FC912A 0%, #F157FF 100%) 0% 0% no-repeat padding-box; */
    background: transparent linear-gradient(269deg, #19D395 0%, #F157FF 100%) 0% 0% no-repeat padding-box;
    /* background-size: 200% 200%; */
    /* animation: Gradient 5s ease infinite; */
    /* -moz-animation: Gradient 5s ease infinite; */
}


div[data-card-number='4'] .card_heading  {
    background: transparent linear-gradient(269deg, #19D395 0%, #F157FF 100%) 0% 0% no-repeat padding-box;
    /* background-size: 200% 200%; */
    /* animation: Gradient 5s ease infinite; */
    /* -moz-animation: Gradient 5s ease infinite; */
}

div[data-card-number='5'] .card_heading  {
    background: transparent linear-gradient(269deg, #19D395 0%, #F157FF 100%) 0% 0% no-repeat padding-box;
    /* background-size: 200% 200%; */
    /* animation: Gradient 5s ease infinite; */
    /* -moz-animation: Gradient 5s ease infinite; */
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}