

.hero_background_gradient {
    background: transparent linear-gradient(90deg, #5B24EC 0%, #8A55FF 100%) 0% 0% no-repeat padding-box;
}




/* GRADIENTS */

 div[data-card-number='1'] .card_heading {
    background:  transparent linear-gradient(269deg, #FC912A 0%, #F157FF 100%) 0% 0% no-repeat padding-box;;
    background-size: 150% 150%;
    animation: Gradient 5s ease infinite;
    -moz-animation: Gradient 5s ease infinite;
}

div[data-card-number='2'] .card_heading  {
    background: transparent linear-gradient(269deg, #19D395 0%, #F157FF 100%) 0% 0% no-repeat padding-box;
    background-size: 150% 150%;
    animation: Gradient 5s ease infinite;
    -moz-animation: Gradient 5s ease infinite;
}

div[data-card-number='3'] .card_heading  {
    background: transparent linear-gradient(269deg, #FC912A 0%, #F157FF 100%) 0% 0% no-repeat padding-box;
    background-size: 150% 150%;
    animation: Gradient 5s ease infinite;
    -moz-animation: Gradient 5s ease infinite;
}


div[data-card-number='4'] .card_heading  {
    background: transparent linear-gradient(269deg, #FC912A 0%, #F157FF 100%) 0% 0% no-repeat padding-box;
    background-size: 150% 150%;
    animation: Gradient 5s ease infinite;
    -moz-animation: Gradient 5s ease infinite;
}

.custom_radio_button {
    accent-color: #8956FF;
    width: 30px;
    height: 30px;
}


@keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.data-products-our-process-bg {
    background: linear-gradient(#7542F5  0%,  #E67EFF 100%) 0% 0% no-repeat padding-box;
    background-size: 150% 150%;
    animation: Gradient 5s ease infinite;
    -moz-animation: Gradient 5s ease infinite;
    /*  */
}