.hero_background_gradient {
    background: transparent linear-gradient(90deg, #5B24EC 0%, #8A55FF 100%) 0% 0% no-repeat padding-box;
}
.datasets-our-process-bg {
    background: linear-gradient(#7542F5  0%,  #E67EFF 100%) 0% 0% no-repeat padding-box;
    background-size: 150% 150%;
    animation: Gradient 5s ease infinite;
    -moz-animation: Gradient 5s ease infinite;
    /*  */
}