@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --purple:#7743F5;
  --purple-extra-dark:#1D17A8;
  --purple-dark:#2A2FC1;
  --purple-medium:#5B24EC;
  --purple-light:#A17EFF;
  --purple-extra-light:#DCD1FF;
  --purple-double-extra-light: #E9E8F8;
  --green-medium:#99F0CF;
  --green-dark:#0ADC8D;
  --green: #06DE8B;
  --green-light:#E2FFF4;
  --blue-dark:#0A1385;
  --blue:#3024C6;
  --blue-extra-dark:#3423C9;
  --blue-medium:#0562FF;
  --pink-light:#F1ACFF;
  --pink:#F157FF;
  --yellow: #FFE200;

  --orange-medium: #FFC400;




  --russian-violet-dark: #1b014c;
  --russian-violet-light: #e5ddf6;
  --sunglow-dark: #ffd23f;
  --sunglow-light: #ffe89e;
  --red-orange-dark: #fb5012;
  --red-orange-light: #fed2c2;
  --fluorecent-blue-dark: #01fdf6;
  --lavender-blue-dark: #cbbaed;
  --fluorecent-blue-light: #80fefa;
  --lavender-blue-light: #e5ddf6;
  --light-coral-dark: #ef767a;
  --light-coral-light: #fad8d9;
  --sea-green-dark: #23f0c7;
  --sea-green-light: #e0fdf7;
  --middle-blue-purple-dark: #7d7abc;
  --middle-blue-purple-light: #edecf5;
  --ob-dark: #fb5012;
  --ob-light: #fdece6;
  --og-dark: #632fae;
  --og-light: #ebe0fd;
  --oh-dark: #0956fc;
  --oh-light: #e2ebfd;
  --os-dark: #0ce6a3;
  --os-light: #e3f9f2;
  --oe-dark: #289f94;
  --oe-light: #85ffed;
  --ob-sub3: #fbdace;
  --og-sub3: #d8c1fb;
  --oh-sub3: #c6d7fc;
  --os-sub3: #c7f3e5;
  --labs-dark: #a60073;
  --labs-sub3: #e6add4;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
/* #rect_parent[data-product-type-rectangle="Rectangle Data governance"]:hover ~ rect[id="Rectangle Data governance"]  {
  fill: red;
} */


.change_fill_color {
  animation: opacityMove 10s infinite ease-in-out;
  /* opacity: 70%; */
}

@keyframes opacityMove {
  0% {
    opacity: 70%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 70%;
  }
}

body {

  font-family: 'Poppins', sans-serif;
  margin:0;
  padding:0;
  box-sizing: border-box;
}
p {
font-size:20px;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 38px;
}

h4 {
  font-size: 34px;
}

h5 {
  font-size: 28px;
}

h6 {
  font-size:24px;
}

/* backgrounds */
.bg-green-medium {
  background-color: var(--green-medium);
}

.bg-purple-light{
  background-color: var(--purple-light);
}

/* DIFFERENT DEVICES */

@media screen and (max-width: 480px) {
  p {
    font-size: 18px;
  }

  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 25px;
  }

  h5 {
    font-size: 22px;
  }

  h6 {
    font-size: 20px;
  }
}

@media (max-width: 1240px) {
  p {
    font-size: 20px;
  }

  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 38px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 25px;
  }

  h5 {
    font-size: 26px;
  }

  h6 {
    font-size: 22px;
  }
}

.bg-green-dark {
  background-color: var(--green-dark);
}

.bg-blue-medium {
  background-color: var(--blue-medium);
}

/* BLOGS */
.blog-page h1,.blog-page h2,.blog-page h3,.blog-page h4,.blog-page h5,.blog-page h6 {
  line-height: 45px;
  margin:40px 0;
}


.blog-page a {
  color:#2B30C1 !important;
}
.blog-page figure .image {
  text-align: center !important;
  align-items: center;
}

.blog-page ul {
  list-style-type: disc !important;
  font-size: 15px;
  padding: 0 30px;
  margin:10px 0;
}
.blog-page ul li {

  padding: 0px 30px;
  margin:20px 0;

}


.blog-page figure.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.blog-page figure.image {
  display: grid;
  justify-content: center;
}

.blog-page figure.image figcaption {
  font-size: 12px;
  text-align: center;
  padding: 10px 0;
  font-style: italic;
}

.blog-page figure {
  font-size: 12px;
  text-align: center;
  margin-bottom: 20px;
}

.blog-page figure.image {
  text-align: center;
  align-items: center;
  justify-content: center;
}


.blog-card-date-bg {
  background: linear-gradient(-90deg, #ff9d00 0%, #ef58fe 100%) 0% 0% no-repeat
    padding-box;
  background-size: 150% 150%;
  animation: Gradient 5s ease infinite;
  -moz-animation: Gradient 5s ease infinite;
  /*  */
}







/* LABS */

.internal-link {
  /*    border-bottom:1px solid var(--russian-violet-dark); */
  text-decoration: underline;
  text-decoration-color: var(--russian-violet-dark);
}

.labs-grid {
  grid-template-columns: 1fr 3fr;
}

.labs-hero-right img {
  max-width: 650px;
  height: auto;
}

.labs-main-color-dark {
  color: #a80075;
}
.lab-component .container {
  border-bottom: 2px solid #a80075;
  padding-bottom: 30px;
}

.lab-form img {
  max-width: 650px;
  height: auto;

  text-align: center;
  align-items: center;
  align-self: flex-end;
}

.labs-form-inputs input {
  border: 2px solid #a80075;
}


/* INSET BOX */

.inset-box-general-light {
  background-color: var(--sunglow-dark);
  padding: 5px 10px;
  border-radius: 10px;
  margin: 10px 0;
}
.inset-box-bank-light {
  background-color: #fbac8f;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 10px 0;
}
.inset-box-gov-light {
  background-color: #d8c1fb;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 10px 0;
}
.inset-box-health-light {
  background-color: #87acfc;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 10px 0;
}
.inset-box-sustain-light {
  background-color: #9686ae;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 10px 0;
}
.inset-box-oe-light {
  background-color: var(--oe-light);
  padding: 5px 10px;
  border-radius: 10px;
  margin: 10px 0;
}

.code-container {
  color: black;
  font-size: 12px;
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 10px;
}

/* WBOX */
.w-box {
  padding: 30px;
  border-radius: 10px;
}

.w-box p {
  margin: 20px 0;
}

.w-box-general-dark-btn {
  background-color: var(--russian-violet-dark);
}
.w-box-general-dark-bg {
  color: var(--russian-violet-dark);
  background-color: var(--russian-violet-light);
}
.w-box-general-dark-bg h4 {
  background-color: var(--russian-violet-dark);
  color: white;
  display: inline;
  padding: 3px 10px;
  margin-bottom: 10px !important;
  font-weight: bold;
}

.w-box-ob-dark-btn {
  background-color: var(--red-orange-dark);
}
.w-box-ob-bg {
  background-color: var(--red-orange-light);
  color: var(--russian-violet-dark);
}

.w-box-ob-bg h4 {
  background-color: var(--red-orange-dark);
  color: white;
  display: inline;
  padding: 3px 10px;
  margin-bottom: 10px !important;
  font-weight: bold;
}

.w-box-og-dark-btn {
  background-color: var(--og-dark);
}
.w-box-og-bg {
  background-color: var(--og-light);
  color: var(--russian-violet-dark);
}

.w-box-og-bg h4 {
  background-color: var(--og-dark);
  color: white;
  display: inline;
  padding: 3px 10px;
  margin-bottom: 10px !important;
  font-weight: bold;
}

.w-box-oh-dark-btn {
  background-color: var(--oh-dark);
}
.w-box-oh-bg {
  background-color: var(--oh-light);
  color: var(--russian-violet-dark);
}

.w-box-oh-bg h4 {
  background-color: var(--oh-dark);
  color: white;
  display: inline;
  padding: 3px 10px;
  font-weight: bold;
  margin-bottom: 10px !important;
}

.w-box-os-dark-btn {
  background-color: var(--os-dark);
}
.w-box-os-bg {
  background-color: var(--os-light);
  color: var(--russian-violet-dark);
}

.w-box-os-bg h4 {
  background-color: var(--os-dark);
  color: white;
  display: inline;
  padding: 3px 10px;
  font-weight: bold;
  margin-bottom: 10px !important;
}

/* SUMMARY BOX */
.summary-box h3 {
  font-weight: bold;
}
.summary-box-general-dark {
  background-color: var(--russian-violet-dark);
  padding: 20px;
  border-radius: 10px;
}
.summary-box-bank-dark {
  background-color: var(--red-orange-dark);
  padding: 20px;
  border-radius: 10px;
}
.summary-box-gov-dark {
  background-color: #632fae;
  padding: 20px;
  border-radius: 10px;
}
.summary-box-health-dark {
  background-color: #0956fc;
  padding: 20px;
  border-radius: 10px;
}
.summary-box-sustain-dark {
  border-radius: 10px;
  background-color: #0ce6a3;
  padding: 20px;
}

.summary-box-oe-dark {
  background-color: var(--oe-dark);
  padding: 20px;
  border-radius: 10px;
}

.top-blog-card-img-container img {
  width: 30px;
}

/* LARGE QUOTE */
.large-quote {
  margin: 20px 0;
  padding: 10px 20px;
  background-color: #f4f4f4;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.large-quote p {
  font-style: italic;
  margin: 10px 0;
  color: var(--russian-violet-dark);
}

.large-quote .author,
.large-quote .second-line {
  display: flex;
  justify-content: flex-end;
}

.large-quote .author {
  font-weight: bold;
}

.dark-purple-btn {
  background-color: var(--russian-violet-dark);
}

.LargeQuote-general-dark-btn {
  background-color: var(--russian-violet-dark);
}
.LargeQuote-general-dark-bg {
  border-left: 2px solid var(--russian-violet-dark);
  color: var(--russian-violet-dark);
}

.ob-dark-btn {
  background-color: var(--ob-dark);
}

.LargeQuote-ob-bg {
  border-left: 2px solid var(--ob-dark);
  color: var(--russian-violet-dark);
}
.LargeQuote-ob-bg h3 {
  color: var(--ob-dark);
  font-weight: bold;
}

.og-dark-btn {
  background-color: var(--og-dark);
}

.LargeQuote-og-bg {
  border-left: 2px solid var(--og-dark);
  color: var(--russian-violet-dark);
}
.LargeQuote-og-bg h3 {
  color: var(--og-dark);
  font-weight: bold;
}

.oh-dark-btn {
  background-color: var(--oh-dark);
}

.LargeQuote-oh-bg {
  border-left: 2px solid var(--oh-dark);
  color: var(--russian-violet-dark);
}
.LargeQuote-oh-bg h3 {
  color: var(--oh-dark);
  font-weight: bold;
}

.os-dark-btn {
  background-color: var(--os-dark);
}

.LargeQuote-os-bg {
  border-left: 2px solid var(--os-dark);
  color: var(--russian-violet-dark);
}
.LargeQuote-os-bg h3 {
  color: var(--os-dark);
  font-weight: bold;
}

.LargeQuote-oe-bg {
  border-left: 2px solid var(--oe-dark);
  color: var(--russian-violet-dark);
}
.LargeQuote-oe-bg h3 {
  color: var(--oe-dark);
  font-weight: bold;
}

/* SMALLQUOTE */

.smallQuote {
  padding: 5px 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.smallQuote .author,
.smallQuote .second-line {
  display: flex;
  justify-content: center;
  margin: 0px 0;
}

.smallQuote .author {
  font-weight: bold;
}

.centered-border {
  width: 50%;
  height: 2px;
}

.smallQuote-general-dark-bg {
  color: var(--russian-violet-dark);
}

.smallQuote-general-dark-bg .centered-border {
  border: 2px solid var(--russian-violet-dark);
}

.smallQuote-ob-bg {
  color: var(--russian-violet-dark);
}

.smallQuote-ob-bg .centered-border {
  border: 2px solid var(--ob-dark);
}

.smallQuote-ob-bg h3 {
  color: var(--ob-dark);
  font-weight: bold;
  /* font-size:18px; */
}

.smallQuote-og-bg {
  color: var(--russian-violet-dark);
}

.smallQuote-og-bg .centered-border {
  border: 2px solid var(--og-dark);
}

.smallQuote-og-bg h3 {
  color: var(--og-dark);
  font-weight: bold;
  /* font-size:18px; */
}

.smallQuote-oh-bg {
  color: var(--russian-violet-dark);
}

.smallQuote-oh-bg .centered-border {
  border: 2px solid var(--oh-dark);
}

.smallQuote-oh-bg h3 {
  color: var(--oh-dark);
  font-weight: bold;
  /* font-size:18px; */
}

.smallQuote-os-bg {
  color: var(--russian-violet-dark);
}

.smallQuote-os-bg .centered-border {
  border: 2px solid var(--os-dark);
}

.smallQuote-os-bg h3 {
  color: var(--os-dark);
  font-weight: bold;
  /* font-size:18px; */
}

.smallQuote-oe-bg {
  color: var(--russian-violet-dark);
}

.smallQuote-oe-bg .centered-border {
  border: 2px solid var(--oe-dark);
}

.smallQuote-oe-bg h3 {
  color: var(--oe-dark);
  font-weight: bold;
}


/* // PERSONAS 2021 // */

.main-personas {
  margin: 20px 0;
  max-width: 800px;
  margin: 20px auto;
}

.personas-top {
  display: flex;
  color: white;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 20px 0;
}

.personas-top img {
  max-width: 80px;
  height: 80px;
  position: relative;
  left: -30px;
  border-radius: 60%;
  padding: 10px;
}

.personas-top h3 {
  font-weight: bold;
  position: relative;
}

.personas-subtitle {
  position: relative;
}

.personas-bottom-text {
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.api-tools-provider .personas-top,
.regulator .personas-top,
.api-architects .personas-top {
  background-color: #ffd23f;
  color: white;
}
.api-tools-provider .personas-bottom-text,
.api-tools-provider .personas-top img,
.regulator .personas-bottom-text,
.regulator .personas-top img,
.api-architects .personas-bottom-text,
.api-architects .personas-top img {
  background-color: #ffe590;
}

.fintech-associantions .personas-top,
.banks .personas-top,
.fintechs .personas-top,
.financial-inclusion .personas-top {
  background-color: #fb5012;
  color: white;
}

.fintech-associantions .personas-top img,
.banks .personas-top img,
.fintechs .personas-top img,
.financial-inclusion .personas-top img,
.fintech-associantions .personas-bottom-text,
.banks .personas-bottom-text,
.fintechs .personas-bottom-text,
.financial-inclusion .personas-bottom-text {
  background-color: var(--red-orange-light);
  color: var(--russian-violet-dark);
}

.policy-lead .personas-top,
.dg-lead .personas-top,
.pm-lead .personas-top {
  background-color: var(--og-dark);
  color: white;
}

.policy-lead .personas-top img,
.dg-lead .personas-top img,
.pm-lead .personas-top img,
.policy-lead .personas-bottom-text,
.dg-lead .personas-bottom-text,
.pm-lead .personas-bottom-text {
  background-color: #d8c1fb;
  color: var(--russian-violet-dark);
}

/* LABS-HEADER */
.labs-top-bar-posts-header {
  display: flex;
  background-color: #a80075;
  color: white;
  padding: 30px 10px;
  gap: 10px;
  align-items: center;
  border-radius: 10px;
}

.labs-top-bar-posts-header img {
  flex-grow: 1;
  max-width: 95px;
  background-color: white;
  border-radius: 50%;
  padding: 20px;
  margin-left: 20px;
}

.labs-top-bar-posts-text {
  flex-grow: 3;
  margin-left: 30px;
}

@media (max-width: 690px) {
  .labs-top-bar-posts-header {
    flex-wrap: wrap;
  }

  .labs-top-bar-posts-header {
    display: flex;
    justify-content: center;
  }
}

/* LABS BLOG COMPONENT */

.labs-text-img-component {
  display: flex;
  padding: 10px 0;
  gap: 10px;
  align-items: center;
  border-radius: 10px;
}

.labs-text-img-component img {
  flex-grow: 1;
  max-width: 95px;
}

.lab-text-img-component {
  flex-grow: 3;
}

.lab-text-img-component-container {
  border-bottom: 2px solid #a80075;
  padding-bottom: 20px;
}

@media (max-width: 690px) {
  .labs-text-img-component {
    flex-wrap: wrap;
  }

  .labs-text-img-component {
    display: flex;
    justify-content: center;
  }
}

/* ROADMAP */

section#timeline {
  width: 90%;
  margin: 20px auto;
  position: relative;
}

section#timeline article:before {
  content: "";
  display: block;
  position: absolute;
  left: -7px;
  top: 0;
  margin: 0 0 0 0px;
  width: 2px;
  height: 100%;
  background: #a80075;
}

section#timeline article:last-child:before {
  background: none;
}

section#timeline article {
  width: 100%;
  margin: 0 0 0px 0;
  position: relative;
}

section#timeline article:after {
  content: "";
  display: block;
  clear: both;
}

section#timeline article div.inner {
  width: 90%;
  float: left;
  margin: 0 0 0 0;
  border-radius: 6px;
}

section#timeline article div.inner span.date {
  display: block;
  width: 50px;
  height: 50px;
  padding: 12px;
  position: absolute;
  top: 0;
  left: 0%;
  margin: -3px 0 0 -32px;
  border-radius: 100%;
  font-size: 10px;
  font-weight: 900;
  text-transform: uppercase;
  background: #fff;
  color: rgba(0, 0, 0, 0.9);
  border: 2px solid #a80075;
  text-align: center;
}

section#timeline article div.inner span.date span {
  display: block;
  text-align: center;
}
section#timeline article div.inner span.date span.day {
  font-size: 10px;
}
section#timeline article div.inner span.date span.month {
  font-size: 14px;
}
section#timeline article div.inner span.date span.year {
  font-size: 10px;
}
section#timeline article div.inner h2 {
  padding: 15px;
  margin: 0;
  font-weight: bold;
  font-size: 20px;

  position: relative;
}

section#timeline article div.inner p {
  padding: 15px;
  margin: 0;
  font-size: 14px;

  border-radius: 0 0 6px 6px;
}
section#timeline article div.inner {
  margin-left: 40px;
  margin-top: -5px;
}

.labs-road-text-img-component {
  display: flex;
  padding: 10px 0;
  gap: 10px;
  align-items: center;
  border-radius: 10px;
}

.labs-road-text-img-component img {
  flex-grow: 1;
  max-width: 95px;
}

.labs-road-top-bar-posts-text h3 {
  position: relative;
  top: 15px;
  font-weight: bold;
}

@media (max-width: 690px) {
  .labs-road-text-img-component {
    flex-wrap: wrap;
  }

  .labs-road-text-img-component {
    display: flex;
    justify-content: center;
  }
}

/* INLINE ICON */
.inline-icon-container {
  margin: 30px 0;
  padding: 20px;
}

.inline-icon-container img {
  max-width: 125px;
}

.inline-icon-top {
  display: flex;
  align-items: center;
  gap: 10px;
}

.inline-icon-general-dark {
  border-bottom: 4px solid var(--russian-violet-dark);
}

.inline-icon-general-dark-btn {
  background-color: var(--russian-violet-dark);
}

.inline-icon-general-dark h3 {
  color: var(--russian-violet-dark);
}

.inline-icon-oe-dark-btn {
  background-color: var(--oe-dark);
}
.inline-icon-oe-dark {
  border-bottom: 4px solid var(--oe-dark);
}
.inline-icon-oe-dark h3 {
  color: var(--oe-dark);
}

.inline-icon-bank-dark-btn {
  background-color: var(--red-orange-dark);
}

.inline-icon-ob-dark {
  border-bottom: 4px solid var(--ob-dark);
}

.inline-icon-ob-dark h3 {
  color: var(--ob-dark);
}

.inline-icon-gov-dark-btn {
  background-color: #632fae;
}
.inline-icon-og-dark {
  border-bottom: 4px solid var(--og-dark);
}
.inline-icon-og-dark h3 {
  color: var(--og-dark);
}

.inline-icon-health-dark-btn {
  background-color: var(--oh-dark);
}
.inline-icon-oh-dark {
  border-bottom: 4px solid var(--oh-dark);
}
.inline-icon-oh-dark h3 {
  color: var(--oh-dark);
}

.inline-icon-sustain-dark-btn {
  background-color: var(--os-dark);
}

.inline-icon-os-dark {
  border-bottom: 4px solid var(--os-dark);
}

.inline-icon-os-dark h3 {
  color: var(--os-dark);
}

/* CODE BLOCK */
.code-block {
  background-color: lightgray;
  padding: 20px;
  border-radius: 10px;
}

/* INSET BOX  2 COMPONENT */
.insetBox2 {
  margin: 20px 0;
}
.insetBox2Top {
  padding: 20px;
}

.insetBox2Bottom {
  padding: 20px;
}
.insetBox2Top h3 {
  font-weight: 800;
}

.insetBox2-box h3 {
  font-weight: bold;
}

.insetBox2-dark-oe {
  background-color: var(--oe-dark);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.insetBox2-dark-oe .insetBox2Bottom {
  background-color: var(--oe-light);
  color: var(--russian-violet-dark);
}
.insetBox2-dark-oe .insetBox2Top {
  background-color: var(--oe-dark);
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.insetBox2-general-dark-btn {
  background-color: var(--russian-violet-dark);
}
.insetBox2-general-dark .insetBox2Top {
  background-color: var(--russian-violet-dark);
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.insetBox2-general-dark .insetBox2Bottom {
  background-color: var(--russian-violet-light);
  color: var(--russian-violet-dark);
}

.insetBox2-bank-dark-btn {
  background-color: var(--red-orange-dark);
}

.insetBox2-bank-dark .insetBox2Top {
  background-color: var(--red-orange-dark);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.insetBox2-bank-dark .insetBox2Bottom {
  background-color: var(--red-orange-light);
}

.insetBox2-gov-dark-btn {
  background-color: #632fae;
}

.insetBox2-gov-dark .insetBox2Top {
  background-color: #632fae;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
}

.insetBox2-gov-dark .insetBox2Bottom {
  background-color: var(--og-light);
}

.insetBox2-health-dark-btn {
  background-color: var(--oh-dark);
}
.insetBox2-health-dark .insetBox2Top {
  background-color: #0956fc;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
}

.insetBox2-health-dark .insetBox2Bottom {
  background-color: var(--oh-light);
}

.insetBox2-sustain-dark-btn {
  background-color: var(--os-dark);
}
.insetBox2-sustain-dark .insetBox2Top {
  background-color: var(--os-dark);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.insetBox2-sustain-dark .insetBox2Bottom {
  background-color: var(--os-light);
}






/* SHADED INLINE ICON */
.shaded-inline-icon-container {
  margin: 30px 0;
  padding: 20px;
}

.shaded-inline-icon-container img {
  max-width: 125px;
}

.shaded-inline-icon-top {
  display: flex;
  align-items: center;
  gap: 10px;
}

.shaded-inline-bg-oe {
  background-color: var(--oe-light);
  border-bottom: 4px solid var(--oe-dark);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.shaded-inline-bg-oe h3 {
  color: var(--oe-dark);
}

.shaded-inline-bg-ob {
  background-color: var(--ob-light);
  border-bottom: 4px solid var(--ob-dark);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.shaded-inline-bg-ob h3 {
  color: var(--ob-dark);
}

.shaded-inline-bg-og {
  background-color: var(--og-light);
  border-bottom: 4px solid var(--og-dark);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.shaded-inline-bg-og h3 {
  color: var(--og-dark);
}

.shaded-inline-bg-oh {
  background-color: var(--oh-light);
  border-bottom: 4px solid var(--oh-dark);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.shaded-inline-bg-oh h3 {
  color: var(--oh-dark);
}

.shaded-inline-bg-os {
  background-color: var(--os-light);
  border-bottom: 4px solid var(--os-dark);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.shaded-inline-bg-os h3 {
  color: var(--os-dark);
}

.shaded-inline-icon-general-dark-btn {
  background-color: var(--russian-violet-dark);
}

.shaded-inline-icon-general-dark {
  background-color: var(--russian-violet-light);
  border-bottom: 4px solid var(--russian-violet-dark);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.shaded-inline-icon-bank-dark-btn {
  background-color: var(--red-orange-dark);
}

.shaded-inline-icon-gov-dark-btn {
  background-color: #632fae;
}

.shaded-inline-icon-health-dark-btn {
  background-color: var(--oh-dark);
}

.shaded-inline-icon-sustain-dark-btn {
  background-color: var(--os-dark);
}

.bg-dark-Open.Ecosystems,
.bg-dark-Open-Ecosystems {
  background-color: var(--russian-violet-dark);
}
.text-dark-Open.Ecosystems,
.text-dark-Open-Ecosystems {
  color: var(--russian-violet-dark);
}

.border-dark-Open.Ecosystems,
.border-dark-Open-Ecosystems {
  border: 4px solid var(--russian-violet-dark);
}
.bg-dark-Open-Banking-Open-Finance,
.bg-dark-Open.Banking {
  background-color: var(--ob-dark);
}
.text-dark-Open-Banking-Open-Finance,
.text-dark-Open.Banking {
  color: var(--ob-dark);
}

.border-dark-Open-Banking-Open-Finance,
.border-dark-Open.Banking {
  border: 4px solid var(--ob-dark);
}
.bg-dark-Open.Health,
.bg-dark-Open-Health {
  background-color: var(--oh-dark);
}
.text-dark-Open.Health,
.text-dark-Open-Health {
  color: var(--oh-dark);
}
.border-dark-Open.Health,
.border-dark-Open-Health {
  border: 4px solid var(--oh-dark);
}

.bg-dark-Open-Government,
.bg-dark-Open.Government {
  background-color: var(--og-dark);
}
.text-dark-Open-Government,
.text-dark-Open.Government {
  color: var(--og-dark);
}
.border-dark-Open-Government,
.border-dark-Open.Government {
  border: 4px solid var(--og-dark);
}
.bg-dark-Open-Sustainability,
.bg-dark-Open.Sustainability {
  background-color: var(--os-dark);
}
.text-dark-Open-Sustainability,
.text-dark-Open.Sustainability {
  color: var(--os-dark);
}
.border-dark-Open-Sustainability,
.border-dark-Open.Sustainability {
  border: 4px solid var(--os-dark);
}
.text-dark-Labs {
  color: var(--labs-dark);
}
.bg-dark-Labs {
  background-color: var(--labs-dark);
}
.border-dark-Labs {
  border: 4px solid var(--labs-dark);
}

.border-bottom-sunglow-dark {
  border-bottom: 4px solid var(--sunglow-dark);
}
.bg-sunglow-dark {
  background-color: var(--sunglow-dark);
}

.home-trends-bg-russian-violet-dark {
  background-color: var(--russian-violet-dark);
}
.border-sunglow-dark {
  border: 4px solid var(--sunglow-dark);
}
.icons8-clock {
  display: inline-block;
  width: 28px;
  height: 28px;
  color: #8a0fb6;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIKdmlld0JveD0iMCAwIDQ4IDQ4IgpzdHlsZT0iIGZpbGw6IzAwMDAwMDsiPjxwYXRoIGQ9Ik0yNCw0QzEzLDQsNCwxMyw0LDI0czksMjAsMjAsMjBzMjAtOSwyMC0yMFMzNSw0LDI0LDR6IE0zMS41LDI3aC04Yy0wLjgsMC0xLjUtMC43LTEuNS0xLjV2LTEyYzAtMC44LDAuNy0xLjUsMS41LTEuNQlzMS41LDAuNywxLjUsMS41VjI0aDYuNWMwLjgsMCwxLjUsMC43LDEuNSwxLjVTMzIuMywyNywzMS41LDI3eiI+PC9wYXRoPjwvc3ZnPg==")
    50% 50% no-repeat;
  background-size: 100%;
}
.fill-dark-Open-Sustainability,
.fill-dark-Open.Sustainability {
  fill: var(--os-dark);
}
.border-bottom-Open-Sustainability,
.border-bottom-OpenSustainability {
  border-bottom: 2px solid var(--os-dark);
}
.fill-dark-Open.Health,
.fill-dark-Open-Health {
  fill: var(--oh-dark);
}
.border-bottom-Open-Health,
.border-bottom-Open.Health {
  border-bottom: 2px solid var(--oh-dark);
}
.fill-dark-Open-Government,
.fill-dark-Open.Government {
  fill: var(--og-dark);
}
.border-bottom-Open-Government,
.border-bottom-Open-Government {
  border-bottom: 2px solid var(--og-dark);
}
.fill-dark-Open-Banking-Open-Finance,
.fill-dark-Open.Banking {
  fill: var(--ob-dark);
}
.border-bottom-Open-Banking-Open-Finance,
.border-bottom-Open.Banking {
  border-bottom: 2px solid var(--ob-dark);
}
.fill-dark-Labs {
  fill: var(--labs-dark);
}
.fill-dark-Open.Ecosystems,
.fill-dark-Open-Ecosystems {
  fill: var(--russian-violet-dark);
}
.border-bottom-Open.Ecosystems,
.border-bottom-Open-Ecosystems {
  border-bottom: 2px solid var(--russian-violet-dark);
}
.border-bottom-russian-violet-dark-thin {
  border-bottom: 2px solid var(--russian-violet-dark);
}



@media (max-width: 600px) {
  .sector-cards {
    grid-template-columns: 1fr;
    grid-gap: 4px;
  }
}





/* PERSONAS CARDS */

.persona-card-bg-dark-purple .personas-top {
  background-color: var(--russian-violet-dark);
  color: white;
}

.persona-card-bg-dark-purple .personas-bottom-text,
.persona-card-bg-dark-purple .personas-top img {
  background-color: var(--russian-violet-light);
}
.persona-card-bg-dark-orange .personas-top {
  background-color: var(--red-orange-dark);
  color: white;
}

.persona-card-bg-dark-orange .personas-bottom-text,
.persona-card-bg-dark-orange .personas-top img {
  background-color: var(--red-orange-light);
}

.persona-card-bg-purple .personas-top {
  background-color: var(--og-dark);
  color: white;
}

.persona-card-bg-purple .personas-bottom-text,
.persona-card-bg-purple .personas-top img {
  background-color: var(--og-light);
}

.persona-card-bg-dark-blue .personas-top {
  background-color: var(--oh-dark);
  color: white;
}

.persona-card-bg-dark-blue .personas-bottom-text,
.persona-card-bg-dark-blue .personas-top img {
  background-color: var(--oh-light);
}

.persona-card-bg-dark-green .personas-top {
  background-color: var(--os-dark);
  color: white;
}

.persona-card-bg-dark-green .personas-bottom-text,
.persona-card-bg-dark-green .personas-top img {
  background-color: var(--os-light);
}

.persona-card-bg-dark-oe .personas-top {
  background-color: var(--oe-dark);
  color: white;
}

.persona-card-bg-dark-oe .personas-bottom-text,
.persona-card-bg-dark-oe .personas-top img {
  background-color: var(--oe-light);
}

.os-course-structure img {
  max-width: 120px;
}

/* PERSONAS CARDS */

.persona-card-bg-dark-purple .personas-top {
  background-color: var(--russian-violet-dark);
  color: white;
}

.persona-card-bg-dark-purple .personas-bottom-text,
.persona-card-bg-dark-purple .personas-top img {
  background-color: var(--russian-violet-light);
}
.persona-card-bg-dark-orange .personas-top {
  background-color: var(--red-orange-dark);
  color: white;
}

.persona-card-bg-dark-orange .personas-bottom-text,
.persona-card-bg-dark-orange .personas-top img {
  background-color: var(--red-orange-light);
}

.persona-card-bg-purple .personas-top {
  background-color: var(--og-dark);
  color: white;
}

.persona-card-bg-purple .personas-bottom-text,
.persona-card-bg-purple .personas-top img {
  background-color: var(--og-light);
}

.persona-card-bg-dark-blue .personas-top {
  background-color: var(--oh-dark);
  color: white;
}

.persona-card-bg-dark-blue .personas-bottom-text,
.persona-card-bg-dark-blue .personas-top img {
  background-color: var(--oh-light);
}

.persona-card-bg-dark-green .personas-top {
  background-color: var(--os-dark);
  color: white;
}

.persona-card-bg-dark-green .personas-bottom-text,
.persona-card-bg-dark-green .personas-top img {
  background-color: var(--os-light);
}

.persona-card-bg-dark-oe .personas-top {
  background-color: var(--oe-dark);
  color: white;
}

.persona-card-bg-dark-oe .personas-bottom-text,
.persona-card-bg-dark-oe .personas-top img {
  background-color: var(--oe-light);
}