@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --purple: #7743f5;
  --purple-extra-dark: #1d17a8;
  --purple-dark: #2a2fc1;
  --purple-medium: #5b24ec;
  --purple-medium-dark: #4f35e2;
  --purple-light: #a17eff;
  --purple-extra-light: #dcd1ff;
  --purple-double-extra-light: #e9e8f8;
  --green-medium: #99f0cf;
  --green-dark: #0adc8d;
  --green: #06de8b;
  --green-light: #e2fff4;
  --blue-dark: #0a1385;
  --blue: #3024c6;
  --blue-extra-dark: #3423c9;
  --blue-medium: #0562ff;
  --pink-light: #f1acff;
  --pink: #f157ff;
  --yellow: #ffe200;

  --orange-medium: #ffc400;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
/* #rect_parent[data-product-type-rectangle="Rectangle Data governance"]:hover ~ rect[id="Rectangle Data governance"]  {
  fill: red;
} */

.change_fill_color {
  animation: opacityMove 10s infinite ease-in-out;
  /* opacity: 70%; */
}

@keyframes opacityMove {
  0% {
    opacity: 70%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 70%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  font-size: 20px;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 38px;
}

h4 {
  font-size: 34px;
}

h5 {
  font-size: 28px;
}

h6 {
  font-size: 24px;
}

/* backgrounds */
.bg-green-medium {
  background-color: var(--green-medium);
}

.bg-purple-light {
  background-color: var(--purple-light);
}

/* DIFFERENT DEVICES */

@media screen and (max-width: 480px) {
  p {
    font-size: 18px;
  }

  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 25px;
  }

  h5 {
    font-size: 22px;
  }

  h6 {
    font-size: 20px;
  }
}

@media (max-width: 1240px) {
  p {
    font-size: 20px;
  }

  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 38px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 25px;
  }

  h5 {
    font-size: 26px;
  }

  h6 {
    font-size: 22px;
  }
}

.bg-green-dark {
  background-color: var(--green-dark);
}

.bg-blue-medium {
  background-color: var(--blue-medium);
}

/* BLOGS */

.blog-card-date-bg {
  background: linear-gradient(-90deg, #ff9d00 0%, #ef58fe 100%) 0% 0% no-repeat
    padding-box;
  background-size: 150% 150%;
  animation: Gradient 5s ease infinite;
  -moz-animation: Gradient 5s ease infinite;
  /*  */
}
