.section_products_services {
    background: transparent linear-gradient(to top, #99F0CF 0%, #E2FFF4 100%) 0% 0% no-repeat padding-box;
}
#section_explore {
    background: linear-gradient(180deg, #7542F5 0%, #E67EFF 100%) 0% 0% no-repeat padding-box;
}
#sectors_value_list {
    list-style-type: '+' !important;
}

#cards_group  button[data-card-number='1'] {
    background: linear-gradient(-90deg, #06DE8B 0%, #F157FF 100%) 0% 0% no-repeat padding-box;
    background-size: 150% 150%;
    animation: Gradient 5s ease infinite;
    -moz-animation: Gradient 5s ease infinite;
}

#cards_group  button[data-card-number='2'] {
    background: linear-gradient(to left, #FF9D00 0%, #F157FF 100%) 0% 0% no-repeat padding-box;
    background-size: 150% 150%;
    animation: Gradient 5s ease infinite;
    -moz-animation: Gradient 5s ease infinite;
}

#cards_group  button[data-card-number='3'] {
    background: linear-gradient(to left, #0062FF 0%, #F157FF 100%) 0% 0% no-repeat padding-box;
    background-size: 150% 150%;
    animation: Gradient 5s ease infinite;
    -moz-animation: Gradient 5s ease infinite;
}

.custom_radio_button {
    accent-color: #8956FF;
    width: 30px;
    height: 30px;
}


@keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.contact-btn {

    position: sticky;
    top: 20px;
    z-index: 20;
}

.testimonials-bg {
    background: linear-gradient(-90deg, #EFEAFF  0%, #ffffff 100%) 0% 0% no-repeat padding-box;
    background-size: 150% 150%;
    animation: Gradient 5s ease infinite;
    -moz-animation: Gradient 5s ease infinite;
    /*  */
}

.testimonials_container_grid {
    grid-template-columns: repeat(2, 1fr);
}


