/* GRADIENTS */

div .card_heading {
    background:  transparent linear-gradient(269deg, #FC912A 0%, #F157FF 100%) 0% 0% no-repeat padding-box;;
    background-size: 200% 200%;
    animation: Gradient 5s ease infinite;
    -moz-animation: Gradient 5s ease infinite;
}